

<p>Your original URL was: <%= @ritly.link %>.</p>
<p>Your code is: <%= @ritly.random_string %>.</p>


<p>Go to <a href='http://localhost:3000/go/<%=@ritly.random_string %>'>localhost:3000/go/<%=@ritly.random_string %></a> to visit your URL.</p>