<div class="entry_box">
	<h1>RITLY</h1>
	<%= render  partial: "ritly_output" %>
	<img src="http://api1.thumbalizr.com/?url=<%=@ritly.link%>&width=300&api_key=736845a7733392d44669e17527f0a9b1"  />

	<p><%= link_to 'Back to home', root_path %></p>
</div>

